@import url('https://fonts.googleapis.com/css2?family=Acme&family=Metal+Mania&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Metal Mania";

}

body {
    width: 100%;
    background-color: rgb(48, 48, 48);

}

header {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 80px;
    color: white;
}

header form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

form div {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 80%;
    margin: auto;

}

.container p,
.container h4 {
    font-family: "Acme";
}

.card-container {
    cursor: pointer;
    position: relative;
    width: 250px;
    height: 330px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s linear;
    perspective: 800px;
    backface-visibility: visible;
    transform-style: preserve-3d;
    margin: 20px;
}

.front,
.back {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    backface-visibility: hidden;


}

.back {
    background-color: antiquewhite;
    transform: rotateY(180deg);
}


img {
    width: 100px;
}

.front span {
    background-color: rgb(49, 49, 49);
    width: 100%;
    text-align: center;
    padding: 2px 0;
    color: white;
    margin-top: -20px;
}

.sub-container:hover>.card-container {
    transform: rotateY(180deg);

}

.loder {
    margin: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 75vh;
    display: none;
}

.pokemon {
    position: relative;
    height: 100px;
    width: 100px;
    background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
    border-radius: 50%;
    border: 8px solid black;
    animation: spin 1s linear infinite;
}

.pokemon::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 100%;
    background: black;
    top: 50%;
    transform: translatey(-50%);
}

.pokemon::after {
    content: '';
    position: absolute;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;

}

/* Spin Animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}